<div>
    <nav>
        <a href="/">Home</a>
        
        {{#if logged_in}}
            <a href="/login">Dashboard</a>
            <a href="/" id="logout">Log Out</a>
        {{/if}}
        {{#unless logged_in}}
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
        {{/unless}}
    </nav>

    {{#each posts}}
        <a href="/post/{{id}}">
            <h2>{{title}} &#9662;</h2>
        </a>
        <h3>{{body}}</h3>
        <p>Created At {{format_date createdAt}}</p>
    {{/each}}
</div>

<script src="/js/logout.js"></script>
