<div>
    <h1>Sign Up</h1>
    <form id="signup-form">
        <h4>Username:</h4>
        <input type="textarea" id="username-signup">
        <h4>Password:</h4>
        <input type="textarea" id="password-signup">
        <button type="submit">Submit</button>
    </form>
</div>
<script src="/js/signup.js"></script>
<a href="/" id="backbutton">Back</a>